.ngx-pwd-demo {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  color: #333;

  &-form {
    margin: auto;
    padding: 15px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;

    p {
      margin-top: 0;
      font-size: 20px;
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
    }

    input {
      padding: 10px;
      height: 30px;
      border: 1px solid #ccc;
      border-radius: 3px;
      width: calc(100% - 30px);
    }
  }

  .ngx-pwd-demo-component,
  .ngx-pwd-demo-valid {
    margin-top: 15px;
    text-align: left;
  }

  .logos {
    margin-top: 1.5rem;

    img {
      height: 30px;
    }
  }
}

.fork-me-on-github {
  position: absolute;
  height: 30px;
  width: 275px;
  right: -50px;
  transform: rotate(45deg);

  a {
    text-decoration: none;
    color: #fff;
    display: block;
    position: absolute;
    right: 6px;
    line-height: 33px;
    font-family: monospace;
    font-size: 15px;
    font-weight: 700;
  }

  &:before {
    content: '';
    position: absolute;
    background-color: #333;
    width: 300px;
    height: 35px;
    right: -40px;
  }
}

pre {
  padding: 10px;
  background-color: #e8e8e8;
  border-radius: 5px;
  line-height: 15px;
}